repositories:
  - name: bitnami
    url: https://charts.bitnami.com/bitnami
  - name: temporal
    url: https://go.temporal.io/helm-charts

releases:
  # PostgreSQL (StatefulSet)
  - name: postgresql
    namespace: infra
    chart: bitnami/postgresql
    version: 18.2.4
    values:
      - ./values/infra/postgres.yaml
    createNamespace: true

  # Kafka (StatefulSet)
  - name: kafka
    namespace: infra
    chart: bitnami/kafka
    version: 32.4.3
    values:
      - ./values/infra/kafka.yaml
    needs:
      - infra/postgresql
    createNamespace: true

  # Valkey (Deployment)
  - name: valkey
    namespace: infra
    chart: bitnami/valkey
    values:
      - ./values/infra/valkey.yaml
    createNamespace: true

  # Temporal (Deployment)
  - name: temporal
    namespace: infra
    chart: temporal/temporal
    version: ">=1.0.0-0"
    values:
      - ./values/infra/temporal.yaml
    needs:
      - infra/postgresql
    createNamespace: true
