global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Scrape the OTEL Collector's own metrics
  - job_name: "otel-collector"
    static_configs:
      - targets: ["otel-collector:8888"]
