apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "server.fullname" . }}
  labels:
    {{- include "server.labels" . | nindent 4 }}
data:
  # HTTP server bind address
  HTTP_HOST: {{ .Values.config.http.host | quote }}
  HTTP_PORT: {{ .Values.config.http.port | quote }}

  # Logging
  LOG_LEVEL: {{ .Values.config.log.level | quote }}

  # OpenTelemetry
  OTEL_HOST: {{ .Values.otel.host | quote }}
  OTEL_SERVICE_NAME: {{ .Values.otel.serviceName | quote }}

  # Order gRPC client
  ORDER_SERVICE_HOST: {{ .Values.orderService.host | quote }}
  ORDER_SERVICE_PORT: {{ .Values.orderService.port | quote }}
  ORDER_TRACING_SERVER_HOSTNAME: {{ .Values.orderService.tracing.serverHostname | quote }}
  ORDER_METRICS_SERVER_HOSTNAME: {{ .Values.orderService.metrics.serverHostname | quote }}
  ORDER_LOGGING_SERVER_HOSTNAME: {{ .Values.orderService.logging.serverHostname | quote }}

  # Customer gRPC client
  CUSTOMER_SERVICE_HOST: {{ .Values.customerService.host | quote }}
  CUSTOMER_SERVICE_PORT: {{ .Values.customerService.port | quote }}
  CUSTOMER_TRACING_SERVER_HOSTNAME: {{ .Values.customerService.tracing.serverHostname | quote }}
  CUSTOMER_METRICS_SERVER_HOSTNAME: {{ .Values.customerService.metrics.serverHostname | quote }}
  CUSTOMER_LOGGING_SERVER_HOSTNAME: {{ .Values.customerService.logging.serverHostname | quote }}

  # Valkey
  VALKEY_HOST: {{ .Values.valkey.host | quote }}
  VALKEY_PORT: {{ .Values.valkey.port | quote }}
  VALKEY_KEY_PREFIX: {{ .Values.valkey.keyPrefix | quote }}
