apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "server.fullname" . }}
  labels:
    {{- include "server.labels" . | nindent 4 }}
data:
  # HTTP server configuration
  HTTP_HOST: {{ .Values.config.http.host | quote }}
  HTTP_PORT: {{ .Values.config.http.port | quote }}

  # Logging
  LOG_LEVEL: {{ .Values.config.log.level | quote }}

  # Order service
  {{- if .Values.dependencies.orderService.host }}
  ORDER_HOST: {{ .Values.dependencies.orderService.host | quote }}
  {{- end }}
  ORDER_PORT: {{ .Values.dependencies.orderService.port | quote }}

  # Customer service
  {{- if .Values.dependencies.customerService.host }}
  CUSTOMER_HOST: {{ .Values.dependencies.customerService.host | quote }}
  {{- end }}
  CUSTOMER_PORT: {{ .Values.dependencies.customerService.port | quote }}

  # OpenTelemetry
  {{- if .Values.config.otel.serverHost }}
  OTEL_SERVER_HOST: {{ .Values.config.otel.serverHost | quote }}
  {{- end }}
  OTEL_SERVER_PORT: {{ .Values.config.otel.serverPort | quote }}
  {{- if .Values.config.otel.clientHost }}
  OTEL_CLIENT_HOST: {{ .Values.config.otel.clientHost | quote }}
  {{- end }}
  OTEL_CLIENT_TRANSPORT_METHOD: {{ .Values.config.otel.clientTransportMethod | quote }}

  # Valkey cache
  {{- if .Values.dependencies.valkey.host }}
  VALKEY_HOST: {{ .Values.dependencies.valkey.host | quote }}
  {{- end }}
  VALKEY_PORT: {{ .Values.dependencies.valkey.port | quote }}
