services:
  server:
    image: swift:6.2
    command: sleep infinity
    volumes:
      - ..:/workspace:cached
      - ../../shared:/workspace/shared
    ports:
      - "8080:8080"
    networks:
      - everything-network
      - everything-server-network
    privileged: true
  cache:
    image: valkey/valkey:9-alpine
    volumes:
      - cache-data:/data
    # ports:
    #   - "6379:6379"
    networks:
      - everything-server-network

networks:
  everything-network:
    external: true
    name: everything-network
  everything-server-network:
    driver: bridge
    name: everything-server-network

volumes:
  cache-data:
