# Server Service - Production Environment Overrides

replicaCount: 2

config:
  log:
    level: info

image:
  tag: latest

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - server
          topologyKey: kubernetes.io/hostname
